@media screen and (max-width: 320px) {
  
body{
    /*background: url("../img/fundo.jpg");*/
    font-family: Comic Sans MS,Arial, verdana;
}

#superior{
 
 width: 100%;
 background-color:black;
 position:relative;
  
}

#sup{
	width: 100%; 
    display: inline;
	background-color:black;	
}

#letreiro{ 
 float:left;
 margin-top: 10px;
 width: 50%;
 padding-top: 20px;
 
}

#boneco{ 
 float:right;
 width: 50%;
 padding-top: 20px;
 }

#telefone{

margin-left:0px;
margin-top:0px;
width: 100%;
background-color:black;
}

#telefone img{
	float:right;
	width: 50%;
	display:none;
}

#painelpizzas{

margin-left:0px;
margin-right:0px;
margin-bottom:0px;
width: 100%;
height:140px;
}



#menu ul{
    display:none;
	width: 100%;
    background-color:black;
	margin-top:0px;
}

#menu ul li{
	display:inline-block;
	margin-left:0px;
    font-family: Comic Sans MS,Arial, verdana;
	background-color: #b20000;
	color: white;
	width:100%;
    
}

a:hover, a:focus {

}

a{
    display:inline-block;
    margin-left:0px;
    margin-right:-2px;
    padding-top:13px;
    width:100%;
    height:31px;
    text-align:center;
    color: white;
}

li a:hover {
    background-color:#990000;
    width:100%;    
    color: #ffffff;
    text-decoration: none;
}



#painel_esquerdo{
    margin-top:-10px;
    position:absolute;
    margin-left:0px;
    background-color: #0d4f33;
    width: 98,5%;
    color: white;
    border-radius:5px;
    border-style: inset;
    border-width: 3px;
    border-color: #631919;    
    
}

#painel_direito{
    margin-top:199px;
    position:absolute;
    margin-left:0px;    
    color: black;
    border-radius:15px;
	
}

#painelTelefone{	
	background-color: red;
	height:48px;
	width:100%;	
}

#painelTelefone p{
   margin-bottom:0px;	
}

#hamburg{	
    
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight:300px;
    /*line-height: 1; */
    font-size: 24px;
    color: white;
	background-color: red;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
	
	margin-left:0px;
	padding-bottom:10px;
	padding-top:4px;
	padding-left:5px;
	padding-right:4px;
	margin-top:-1px;
	width:15%;
}

#tel{
	width:80%;
	height:24px;
	color: white;
	background-color: red;	
	margin-left:0px;
	padding-bottom:7px;
	padding-top:3px;
	padding-left:5px;
	padding-right:4px;
	width:45%;			
}

iframe{
	
	width:100%;
	
}

#areaForm{
	position:absolute;
	width:100%;
	margin-top:150px;
		
}




}




@media screen and (min-width: 321px) {

body{
    background: url("../img/fundo.jpg");
    font-family: Comic Sans MS,Arial, verdana;
}

#superior{
    background-color: black;
    width:100%;    
    height:203px;
    position:relative;
}

#letreiro{
float:left; 
margin-left:5px;
margin-top:15px;
}

#boneco{    
  float: left;   
  margin-left:12px;   
  width:200px;
  height:198px; 
}

#painelpizzas{

margin-left:20px;
margin-right:20px;
height:203px;
width: 400px;
}

#telefone{
    margin-top: -200px;
    margin-right: 0px;
    margin-left: 1060px;
    position: absolute;
}



#menu {

    float:left;
    width:100%;
    height: 50px;
    background-color: #b20000;
    border-bottom-color:black;
    color: white;
    display:inline-block;
    position:absolute;
}

#menu ul li{

    float:left;
    width:150px;
    height: 50px;
    background-color: #b20000;
    border-bottom-color:black;
    color: white;
    display:inline-block;
    
}


.lista{
display:inline-block;
margin-left:60px;
    font-family: Comic Sans MS,Arial, verdana;
    
}

a:hover, a:focus {

}

a{
    display:inline-block;
    margin-left:0px;
    margin-right:-2px;
    padding-top:13px;
    width:150px;
    height:50px;
    text-align:center;
    color: white;

}

li a:hover {
    background-color:#990000;
    height:50px;    
    color: #ffffff;
    text-decoration: none;

    }



#painel_esquerdo{
    margin-top:60px;
    position:absolute;
    margin-left:20px;
    background-color: #0d4f33;
    width: 400px;
    height: 473px;
    color: white;
    border-radius:5px;
    border-style: inset;
    border-width: 5px;
    border-color: #631919;    
}

#painel_direito{
    margin-top:60px;
    
    margin-left:20px;
    color: black;
    border-radius:15px; 
	margin-left:450px;	
}

#paineis{
	
	margin-top:20px;
	position:absolute;
}

#painelTelefone{	
     display:none;
}

#hamburg{
	display:none;
}

#tel{
	display:none;
}

#areaForm{
	margin-top:60px;
	padding-top:23px;
	margin-left:450px;
	position:absolute;
	width:500px;
	
	background-color:white;
	border-radius:5px;
	border-style:inset;
	border-width:5px;
	border-color:#631919;
		
}



}


	
}